<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Payroll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payroll.css') }}">
</head>
<body>
    <div class="form-container">
        <h1>Edit Payroll for {{ employee.FirstName }} {{ employee.LastName }}</h1>
        <form method="post">
            <label for="BasicSalary">Basic Salary:</label>
            <input type="text" id="BasicSalary" name="BasicSalary" value="{{ employee.payroll.BasicSalary }}" required><br>

            <label for="BasicSalary">Bonus:</label>
            <input type="text" id="Bonus" name="Bonus" value="{{ employee.payroll.Bonus }}" required><br>

            <label for="TotalSalary">Deductions:</label>
            <input type="text" id="Deductions" name="Deductions" value="{{ employee.payroll.Deductions }}" required><br>

            <button type="submit">Save Changes</button>
        </form>
    </div>
</body>
</html>
