<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/employee.css') }}">
</head>
<body>
    <div class="container">
        <div class="employee-details">
            <img src="{{ url_for('static', filename='images/emp.png') }}" alt="Employee Photo">
            <div class="employee-info">
                <h2>{{ employee.FirstName if employee.FirstName else 'N/A' }} {{ employee.LastName if employee.LastName else 'N/A' }}</h2>
                <p><strong>JobTitle: </strong>{{ employee.assignment.JobTitle if employee.assignment.JobTitle else 'N/A' }}</p>
                <p><strong>Department: </strong>{{ employee.assignment.Department if employee.assignment.Department else 'N/A' }}</p>
            </div>
       </div>

        <div class="section">
            <h3>Contact Information</h3>
            <ul>
                <li><strong>Email:</strong> {{ employee.Email if employee.Email else 'N/A' }}</li>
                <li><strong>Phone:</strong> {{ employee.Phone if employee.Phone else 'N/A' }}</li>
                <li><strong>Address:</strong> {{ employee.Address if employee.Address else 'N/A' }}</li>
            </ul>
        </div>

        <div class="section">
            <h3>Personal Details</h3>
            <ul>
                <li><strong>Date of Birth:</strong> {{ employee.DOB if employee.DOB else 'N/A' }}</li>
                <li><strong>Gender:</strong> {{ employee.Gender if employee.Gender else 'N/A' }}</li>
                <li><strong>Date of Hire:</strong> {{ employee.DateOfHire if employee.DateOfHire else 'N/A' }}</li>
            </ul>
        </div>

        <div class="section">
            <h3>Education</h3>
            <ul>
                <li><strong>Degree:</strong> {{ employee.education.Degree if employee.education and employee.education.Degree else 'N/A' }}</li>
                <li><strong>Institution:</strong> {{ employee.education.Institution if employee.education and employee.education.Institution else 'N/A' }}</li>
                <li><strong>Graduation Date:</strong> {{ employee.education.GraduationDate if employee.education and employee.education.GraduationDate else 'N/A' }}</li>
            </ul>
        </div>

        <!-- Delete Employee Button -->
        <form action="" method="post">
            <button type="submit" class="delete-button">Delete Employee</button>
        </form>
    </div>
</body>
</html>
